/* 
    Created on : 25.04.2015, 14:38:18
    Author     : Bambi
*/

/* ----------------------------------------------------------------- 
   ---------------------------- canvas ----------------------------- 
   ----------------------------------------------------------------- */
#canvasContainer{
    display:inline-block;
    width:1030px;  // 60%;
    height:1030px; // 80%;
    margin: 0 auto;
    background: white; 
    position:relative; 
    border: 4px solid;
    border-color: #000000;//#444444;
    background-color: #888888;
}

#glCanvas{
    border: 4px solid;
    border-color: #000000;
    z-index: 2;
    position:relative;
}
/* ----------------------------------------------------------------- 
   --------------------------- controls ---------------------------- 
   ----------------------------------------------------------------- */
#controls{
    position:absolute;
    margin-left: 10px;
    border: 4px solid;
    background-color: #888888;
    width: 837px;
    height: 1030px;
    
}

#headControls{
    border: 2px solid;
    border-color: #c0402a;
    width:835px;
    height: 66px;
}
/* ----------------------------------------------------------------- 
   --------------------------- lighting ---------------------------- 
   ----------------------------------------------------------------- */
#lightingLabel{
}

#lightLabel{
    position:absolute;
    margin-left: 25px;
    margin-bottom: 0px;
}

#lightControls{
    position: absolute;
    border: 1px solid;
    border-color: #c0402a;
    width: 400px;
    height: 275px;
}

#lighting{
    margin-left: 15px;
    margin-top: 30px;
}

#intDiff{
    position:absolute;
    margin-left: 110px;
    margin-top: 30px;
}
#intDiffLabel{
    position:absolute;
    margin-left: 145px;
}

#intSpec{
    position:absolute;
    margin-left: 110px;
    margin-top: 105px;
}
#intSpecLabel{
    position:absolute;
    margin-left: 145px;
    margin-top: 75px;
}

#shininess{
    position:absolute;
    margin-left: 110px;
    margin-top: 175px;
}
#shininessLabel{
    position:absolute;
    margin-left: 145px;
    margin-top: 145px;
}

#lightColorLabel{
    position: absolute;
    margin-left: 35px;
}

#lightColor{
    position: absolute;
    margin-left:20px;
    margin-top: 30px;
}

#ambiColorLabel{
    position: absolute;
    margin-left: 32px;
    margin-top: 145px;
}

#ambiColor{
    position: absolute;
    margin-left: 20px;
    margin-top: 175px;
}
    
#specColorLabel{
    position: absolute;
    margin-left: 35px;
    margin-top: 75px;
}

#specColor{
    position: absolute;
    margin-left: 20px;
    margin-top: 105px;
}
/* ----------------------------------------------------------------- 
   ----------------------------- test ------------------------------ 
   ----------------------------------------------------------------- */
#clock{
    z-index: 3;
    position: absolute;
    top: 23px;
    left: 25px;
}
